@tailwind base;
@tailwind components;
@tailwind utilities;

.center1 {
    margin: auto;
    width: 60%;
    border: 5px solid #FFFF00;
    padding: 10px;
}

.center2{
    position: absolute;
    bottom: 5px;
    left: 5px;
    align-items: center;
}

.scrollable{
    overflow-x: auto;
}


